.playground {
  .playgroundCode {
    height: 100%;
    width: 50%;
    float: left;

    .playgroundStage, .CodeMirror {
      height: 100%;
    }
  }

  .playgroundPreview {
    height: 100%;
    float: left;
    padding-left: 20px;
  }
}
