.playground {
  .playgroundCode {
    height: 100%;
    width: 50%;
    float: left;

    .playgroundStage, .CodeMirror {
      height: 100%;
    }

    .CodeMirror {
      background: rgba(0,0,0,0.6);
    }
  }

  .playgroundPreview {
    height: 100%;
    float: left;
    padding-left: 20px;

    max-width: 40%;
  }
}
