var Title = React.createClass ({
  render: function () {
    return React.createElement (
      "div",
      { className: "slide title-slide center-content"},

      // convenience method for React.createElement ('h1', ...)
      React.DOM.h1 (
        { style: { "font-size": "6em" } },
        "React MD"
      )
    );
  }
});

ReactDOM.render (
  React.createElement(Title, null, null),
  mountNode
);
