class Title extends React.Component {
  render () {
    return (
      <div className="slide title-slide center-content">
        <h1 style={{"fontSize": "3em"}}>React MD</h1>
      </div>
    );
  }
};

ReactDOM.render (<Title/>, mountNode);
