.slide {
  background-color: blue;
  background: url(../../../public/images/gradient_background-dark-01.png);
  background-size: 100%;
  color: white;

  /* any nested slides shouldn't have backgrounds */
  .slide {
    background: none;
  }

  .title {
    height: 10%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
  }

  .content {
    height: 100%;
    font-size: 2.5rem;
  }

  .title ~ .content {
    height: 90%;
  }
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}
